<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
  "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../general.ent">
  %general-entities;
]>

<sect1 id="ch-system-acl" role="wrap">
  <?dbhtml filename="acl.html"?>

  <sect1info condition="script">
    <productname>acl</productname>
    <productnumber>&acl-version;</productnumber>
    <address>&acl-url;</address>
  </sect1info>

  <title>Acl-&acl-version;</title>

  <indexterm zone="ch-system-acl">
    <primary sortas="a-Acl">Attr</primary>
  </indexterm>

  <sect2 role="package">
    <title/>

    <para>Le paquet acl contient des outils pour administrer des listes de 
    contrôle d'accès (<foreignphrase>Access Control Lists</foreignphrase>), 
    qui sont utilisées pour définir des droits d'accès beaucoup plus 
    personnalisables pour les fichiers et les répertoires.</para>

    <segmentedlist>
      <segtitle>&buildtime;</segtitle>
      <segtitle>&diskspace;</segtitle>

      <seglistitem>
        <seg>&acl-ch6-sbu;</seg>
        <seg>&acl-ch6-du;</seg>
      </seglistitem>
    </segmentedlist>

  </sect2>

  <sect2 role="installation">
    <title>Installation d'Acl</title>

    <para>Ajoutez un script de test manquant&nbsp;:</para>

<screen><userinput remap="pre">cat &gt; test/sort-getfacl-output &lt;&lt; "EOF"
#! /usr/bin/perl -w

undef $/;
print join("\n\n", sort split(/\n\n/, &gt;&lt;)), "\n\n";
EOF
chmod 755 test/sort-getfacl-output</userinput></screen>

    <para>Modifiez le répertoire de la documentation pour qu'il soit versionné
    et qu'il ajoute le support d'une installation DESTDIR&nbsp;:</para>

<screen><userinput remap="pre">sed -i -e 's|/@pkg_name@|&amp;-@pkg_version@|' \
       -e 's|@prefix|$(DESTDIR)&amp;|'         \
       -e 's|@libexec|$(DESTDIR)&amp;|'        \
    include/builddefs.in</userinput></screen>

    <para>Modifiez le script <filename>configure</filename> pour utiliser
    <command>file</command> de <filename class="directory">/tools</filename>&nbsp;:</para>

<screen><userinput remap="pre">sed -i 's@/usr/bin/file@/tools/bin/file@g' configure</userinput></screen>

    <para>Préparez la compilation d'Acl&nbsp;:</para>

<screen><userinput remap="configure">MAKE=/tools/bin/make MSGFMT=/tools/bin/msgfmt \
MSGMERGE=/tools/bin/msgmerge XGETTEXT=/tools/bin/xgettext \
./configure --prefix=/usr --libexecdir=/usr/lib</userinput></screen>

    <para>Compilez le paquet&nbsp;:</para>

<screen><userinput remap="make">make</userinput></screen>

    <para>Pour tester les résultats, lancez&nbsp;:</para>
<!-- FIXME: Find out what is wrong with the test suite. -->
<screen><userinput remap="test">make tests root-tests ext-tests</userinput></screen>

    <para>Installez le paquet&nbsp;:</para>

<screen><userinput remap="install">make install install-dev install-lib
install -v -m644 doc/*.txt /usr/share/doc/acl-2.2.49
chmod -v 755 /usr/lib/libacl.{la,so.1.1.0}
rm -v /usr/lib/libacl.so
mv -v /usr/lib/libacl.so* /lib
ln -sfv ../../lib/libacl.so.1.1.0 /usr/lib/libacl.so</userinput></screen>

  </sect2>


  <sect2 id="contents-acl" role="content">
    <title>Contentu d'Acl</title>

    <segmentedlist>
      <segtitle>Programme installé</segtitle>

      <seglistitem>
        <seg>acl</seg>
      </seglistitem>
    </segmentedlist>

    <variablelist>
      <bridgehead renderas="sect3">Descriptions courtes</bridgehead>
      <?dbfo list-presentation="list"?>
      <?dbhtml list-presentation="table"?>

      <varlistentry id="chacl">
        <term><command>chacl</command></term>
        <listitem>
          <para>modifie la liste de contrôle d'accès d'un fichier ou d'un 
          répertoire</para>
          <indexterm zone="ch-system-acl chacl">
            <primary sortas="b-chacl">attr</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="getfacl">
        <term><command>getfacl</command></term>
        <listitem>
          <para>récupère les listes de contrôle d'accès à un fichier</para>
          <indexterm zone="ch-system-acl getfacl">
            <primary sortas="b-getfacl">getfacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="setfacl">
        <term><command>setfacl</command></term>
        <listitem>
          <para>paramètre des listes de contrôle d'accès</para>
          <indexterm zone="ch-system-acl setfacl">
            <primary sortas="b-setfacl">setfacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="libacl">
        <term><filename class="libraryfile">libacl</filename></term>
        <listitem>
          <para>contient les fonctions de l'API d'acl</para>
          <indexterm zone="ch-system-acl libattr">
            <primary sortas="b-libacl">libattr</primary>
          </indexterm>
        </listitem>
      </varlistentry>

    </variablelist>

  </sect2>

</sect1>
