/*
$LastChangedBy:barjo $
$Date:2015-08-04 00:37:38 +0100 $
*/
/* Global settings */
body {
  font-family:verdana, tahoma, helvetica, arial, sans-serif;
  text-align:left;
  background:#fff;
  color:#222;
  margin:1em;
  padding:0;
  font-size:1em;
  line-height:1.2em;
  margin-top:0;
  padding-left:.3em;
  margin-left:120px;
}
@media(max-width:550px),(max-width:800px) and (max-height:550px){
  body {
    margin:auto;
    margin-left:7vmin;
  }
}

/* Links */
a:link {
  color:#4183C4;
  text-decoration:none;
}
a:visited {
  color:#4183C4 ! important;
  text-decoration:none;
}
a:hover, a:focus {
  color:#4183C4 ! important;
  text-decoration:underline;
}
a:active {
  color:#4183C4 ! important;
  text-decoration:none;
}
div.navfooter a:link {
  color:#2AAA42 !important;
}
div.navfooter a:visited {
  color:#2AAA42 ! important;
  text-decoration:none;
}
div.navfooter a:hover, div.navfooter a:focus {
  color:#2AAA42 ! important;
  text-decoration:underline;
}
div.navfooter a:active {
  color:#2AAA42 ! important;
  text-decoration:none;
}

/* Book titlepage */

.book .titlepage {
  text-align:center;
  width:auto;
  background:#dbddec;
  margin:0 auto;
  padding:0 1em;
}
.book hr {
  background:#dbddec;
  height:2px;
  border:0;
  margin:0 0;
  padding:0;
}

/* Sections */
/*div.sect1, div.appendix, div.wrap, div.chapter, div.part,div.preface,div.toc,div.legalnotice,div.dedication,div.index,.book .titlepage */


div.index > div.index {
  margin:auto;
}
div.important ul {
  padding-left:1.5em;
  list-style-type:disc;
}
div.important ul li p {
  margin:0;
  padding:0 .6em;
}
.package, .kernel, .installation, .commands, .testing, .configuration, .content {
  padding:0 .5em .2em 0;
  margin:0;
}
.lfs .package {
  margin:1em;
  padding:.2em .5em .75em 1.5em;
  box-shadow:0 0 6px rgba(0,0,0,.5);
  border-radius:4px;
  position:relative;
  line-height:1.4em;
}
.lfs .configuration {
  background:  #fefefe;
 /* border-top:.2em solid #dbddec; */
}
.lfs .content {
  margin:1em;
  padding:.2em .5em .75em 1em;
  box-shadow:0 0 6px rgba(0,0,0,.5);
  border-left:.5em solid #364F7A;
  border-radius:4px;
  position:relative;
  line-height:1.4em;
}

/* Headers */
h1, h2, h3, h4, h5, h6, b, .strong {
  color:#000;
  font-weight:bold;
  line-height:1em;
}
h1 {
  font-size:173%;
  text-align:left;
}
.book h1 {
  text-align:center;
  margin:0;
  padding:.7em;
}
.preface h1, .part h1, .chapter h1, .appendix h1, .index h1, .sect1 h1, .wrap h1 {
  background:none; /*#f5f6f7;*/
  border-bottom:1px solid #EEE; /*1em solid #dbddec;*/
  margin-bottom:1em;
  margin-top:0;
  padding:.4em;
}
h1.title sup {
  font-size:small;
}
h2 {
  font-size:144%;
  border-bottom:1px solid #EEE;
  padding:.3em;
}
.titlepage h2, div.navheader  h2 {
  font-size:120%;
  border-bottom:none;
  padding:.25em;
}
.book h2.subtitle {
  margin:0;
  padding:.2em;
}
.appendix h2 {
  font-size:133%;
  margin-top:.8em;
  margin-bottom:.2em;
}
h3 {
  font-size:120%;
  border-bottom:1px solid #EEE;
  padding:.25em;
}
h4 {
  font-size:110%;
  border-bottom:1px solid #EEE;
  padding:.2em;
}
.titlepage h3, div.navheader  h3 {
  font-size:120%;
  border-bottom:none;
  padding:.25em;
}
.titlepage h4, div.navheader h4 {
  font-size:110%;
  border-bottom:none;
  padding:.2em;
}
@media(max-width:550px){
  .titlepage h2, div.navheader  h2 {
    font-size:4.7vmin;
    border-bottom:none;
    padding:.25em;
  }
  .titlepage h3, div.navheader  h3 {
    font-size:4.5vmin;
    border-bottom:none;
    padding:.25em;
  }
  .titlepage h4, div.navheader h4 {
    font-size:4.3vmin;
    border-bottom:none;
    padding:.2em;
  }
}
.package h4, h5, h6 {
  font-size:100%;
  font-style:italic;
}

/* Navigation */
@media(min-width:550px) and (min-height:550px), (min-width:1220px) and (min-height:550px){
  div.navfooter{
    top:0;
    left:0;
    position:fixed;
    background:rgb(255, 255, 255) url("../images/tux.png") no-repeat scroll 25px 5px;
    display:block;
    height:100px;
    width:100px;
  }
}
div.navheader {
  background:#dbddec;
  padding:.1em .5em;
  margin:0 auto;
  border-bottom:2px solid #dbddec;
  width:auto;
  height:auto;
  /*max-width:800px;*/
  min-height:50px;
/*  max-height:85px;*/
  z-index:1000;
}
div.navheader ul {
  display:none;
}

div.navheader h4 {
  margin-top:.4em;
  margin-bottom:0;
  text-align:center;
}
div.navheader h3 {
  margin-top:.2em;
  margin-bottom:0;
  text-align:center;
}
div.navfooter ul{
  position:relative;
  margin:0;
  padding:0;
  height:0;
  width:0;
  font-weight:bold;
}
div.navheader ul li.prev, div.navfooter ul li.prev {
  position:fixed;
  display:block;
  left:0;
  text-align:left;
  padding:.2em 1em;
  margin-left:6px;
  top:14em;
  top:40vh;
  max-width:140px;
}
div.navheader ul li.next, div.navfooter ul li.next {
  position:fixed;
  display:block;
  text-align:left;
  left:0;
  padding:.2em 1em;
  margin-left:6px;
  top:22em;
  top:65vh;
  max-width:140px;
}
div.navheader ul li.prev p, div.navfooter ul li.prev p,
div.navheader ul li.next p, div.navfooter ul li.next p {
  padding:0;
  margin:1px 0;
  max-width:140px;
  font-size:90%;
}
div.navheader ul li.home, div.navfooter ul li.home {
  position:fixed;
  text-align:left;
  left:0;
  padding:.2em 1em;
  margin:0 auto;
  display:block;
  color:#dbddec;
  top:9.5em;
  margin-left:6px;
  max-width:140px;
}
div.navheader ul li.up, div.navfooter ul li.up {
  position:fixed;
  text-align:left;
  left:0;
  padding:.2em 1em;
  margin:0 auto;
  display:block;
  color:#dbddec;
  top:6em;
  margin-left:6px;
  max-width:140px;
}
div.navheader ul li.up a, div.navfooter ul li.up a {
  display:block;
  padding:10px 5px 10px 28px;
  background:url(../images/chevron-top.png) no-repeat left center;
  background-size:20px 20px;
}
div.navheader ul li.home a, div.navfooter ul li.home a {
  display:block;
  padding:10px 5px  10px 28px;
  background:url(../images/grid-three-up.png) no-repeat left center;
  background-size:20px 20px;
}
div.navheader ul li.prev a, div.navfooter ul li.prev a {
  display:block;
  padding:10px 5px  10px 35px;
  background:url(../images/chevron-left.png) no-repeat left center;
  background-size:28px 28px;
}
div.navheader ul li.next a, div.navfooter ul li.next a{
  display:block;
  padding:10px 5px 10px 35px;
  background:url(../images/chevron-right.png) no-repeat left center;
  background-size:28px 28px;
}
@media (min-height:550px){
  div.navheader ul li, div.navfooter ul li{
    width:120px;
  }
  div.navheader ul li.prev p, div.navheader ul li.next p,
  div.navfooter ul li.prev p, div.navfooter ul li.next p{
    text-align:center;
    height:15vh;
    overflow:hidden;
  }
  div.navheader ul li.prev p:after, div.navheader ul li.next p:after, div.navfooter ul li.prev p:after, div.navfooter ul li.next p:after{
    content:"";
    text-align:right;
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    height:1.5em;
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
  }
  div.navheader ul li.prev, div.navfooter ul li.prev {
    position:fixed;
    display:block;
    left:0;
    top:43vh;
    padding:0;
    margin:0;
  }
  div.navheader ul li.prev a, div.navfooter ul li.prev a{
    display:block;
    text-align:center;
    left:0;
    padding:7vh 0 0 0;
    background:url(../images/chevron-left.png) no-repeat center 2vh;
    background-size:25px 25px;
  }
  div.navheader ul li.next, div.navfooter ul li.next {
    position:fixed;
    display:block;
    left:0;
    top:68vh;
    padding:0;
    margin:0;
  }
  div.navheader ul li.next a, div.navfooter ul li.next a {
    display:block;
    text-align:center;
    left:0;
    padding:7vh 0 0 0;
    background:url(../images/chevron-right.png) no-repeat center 2vh;
    background-size:25px 25px;
  }
  div.navheader ul li.home, div.navheader ul li.up,
  div.navfooter ul li.home, div.navfooter ul li.up {
    position:fixed;
    padding:0;
    display:block;
    color:#dbddec;
    left:0;
    margin:0;
  }
  div.navheader ul li.home, div.navfooter ul li.home{
    top:27vh;
  }
  div.navheader ul li.up, div.navfooter ul li.up{
    top:12vh;
  }
  div.navheader ul li.home a, div.navfooter ul li.home a{
    display:block;
    text-align:center;
    left:0;
    padding:7vh 0 0 0;
    background:url(../images/grid-three-up.png) no-repeat center 3vh;
    background-size:18px 18px;
  }
  div.navheader ul li.up a, div.navfooter ul li.up a{
    display:block;
    text-align:center;
    left:0;
    padding:7vh 0 0 0;
    background:url(../images/chevron-top.png) no-repeat center 3vh;
    background-size:18px 18px;
  }
}
@media (max-height:550px) and (min-width:800px), (min-width:1220px) and (max-height:550px){
  div.navheader ul li.prev p, div.navfooter ul li.prev p,
  div.navheader ul li.next p, div.navfooter ul li.next p
  {
    display:none;
  }
  div.navheader ul li.prev, div.navfooter ul li.prev {
    max-width:120px;
    position:fixed;
    display:block;
    top:50vmin;
    padding:0;
    margin-left:10px;
    font-size:90%;
  }
  div.navheader ul li.next, div.navfooter ul li.next {
    max-width:120px;
    position:fixed;
    display:block;
    left:0;
    top:75vmin;
    padding:0;
    margin-left:10px;
    font-size:90%;
  }
  div.navheader ul li.prev a, div.navfooter ul li.prev a {
    background-size:20px 20px;
  }
  div.navheader ul li.next a, div.navfooter ul li.next a{
    display:block;
    padding:10px 5px  10px 35px;
    background:url(../images/chevron-right.png) no-repeat left center;
    background-size:20px 20px;
    text-align:left;
  }
  div.navheader ul li.home, div.navheader ul li.up,
  div.navfooter ul li.home, div.navfooter ul li.up {
    max-width:120px;
    position:fixed;
    padding:0;
    margin-left:10px;
    display:block;
    color:#dbddec;
    font-size:90%;
  }
  div.navheader ul li.home, div.navfooter ul li.home{
    top:6em;
  }
  div.navheader ul li.up, div.navfooter ul li.up{
    top:2em;
  }
  div.navheader ul li.home a, div.navfooter ul li.home a,
  div.navheader ul li.up a, div.navfooter ul li.up a{
    padding:10px 5px  10px 35px;
  }
}
@media(max-width:550px),(max-width:800px) and (max-height:550px){
  div.navheader ul li.prev p, div.navfooter ul li.prev p,
  div.navheader ul li.next p, div.navfooter ul li.next p {
    display:none;
  }
  div.navheader ul li.prev, div.navfooter ul li.prev {
    position:fixed;
    display:block;
    left:0;
    top:60vmin;
    padding:0;
    margin:0;
  }
  div.navheader ul li.prev a, div.navfooter ul li.prev a{
    display:block;
    width:0;
    left:0;
    padding:5vmin 0 5vmin 8vmin;
    text-indent:15vmin;
    height:10vmin;
    background:url(../images/chevron-left.png) no-repeat center center;
    background-size:6vmin 6vmin;
    overflow:hidden;
  }
  div.navheader ul li.next, div.navfooter ul li.next {
    position:fixed;
    display:block;
    left:0;
    top:80vmin;
    padding:0;
    margin:0;
  }
  div.navheader ul li.next a, div.navfooter ul li.next a{
    display:block;
    width:0;
    left:0;
    padding:5vmin 0 5vmin 8vmin;
    text-indent:15vmin;
    height:10vmin;
    background:url(../images/chevron-right.png) no-repeat center center;
    background-size:6vmin 6vmin;
    overflow:hidden;
  }
  div.navheader ul li.home, div.navheader ul li.up,
  div.navfooter ul li.home, div.navfooter ul li.up {
    position:fixed;
    padding:0;
    margin:0;
    display:block;
    color:#dbddec;
    left:0;
  }
  div.navheader ul li.home, div.navfooter ul li.home{
    top:40vmin;
  }
  div.navheader ul li.up, div.navfooter ul li.up{
    top:20vmin;
  }
  div.navheader ul li.home a, div.navfooter ul li.home a{
    display:block;
    width:0;
    padding:5vmin 0 5vmin 8vmin;
    text-indent:15vmin;
    height:10vmin;
    background:url(../images/grid-three-up.png) no-repeat center center;
    background-size:6vmin 6vmin;
    overflow:hidden;
  }
  div.navheader ul li.up a, div.navfooter ul li.up a{
    display:block;
    width:0;
    padding:5vmin 0 5vmin 8vmin;
    text-indent:15vmin;
    height:10vmin;
    background:url(../images/chevron-top.png) no-repeat center center;
    background-size:6vmin 6vmin;
    overflow:hidden;
  }
}

/* TOC */
@media(min-width:550px){
  div.toc {
    width:65%;
    min-width:500px;
    margin:auto;
  }
}

div.toc ul, div.index ul, div.navheader ul, div.navfooter ul {
  list-style:none;
}

div.toc ul li.sect1, div.index ul li{
  margin-top:0.3em;
  padding-left:10px;
  background:url(../images/chevron-right.png) no-repeat 0 0.5em;
  background-size:7px 7px;
}

li.preface, .part li.appendix {
  margin-left:1em;
}
div.toc h3 {
  margin:1em 0 .3em 0;
}
li.appendix h3, li.glossary h3, li.index h3 {
  margin:.5em
}
div.toc h4 {
  margin:.6em 0 .2em 0;
}
li.chapter h4 a {
  display:block;
  margin-bottom:.4em
}
.dummy {
  display:block;
  font-weight:bold;
  font-size:110%;
  margin:.6em 0 .2em 0;
}

/* Index */
.index ul li {
  margin:5px 0;
}
.index ul li ul li{
  margin:0;
  display: inline-block;
  width: 100%;
}
.item {
  float:left;
  margin-right:1em
}
.secitem {
  font-weight:normal;
  float:left;
  margin-right:1em
}
.indexref {
  display:block;
  min-width:1px;
}
.item + .indexref {
  margin-left:16em;
}
.secitem + .indexref {
  margin-left:15em;
}
@media(max-width:600px){
  .item {
    display:block;
    width:100%;
  }
  .secitem {
    display:block;
    width:100%;
/*    margin-left:1em;*/
  }
  .item + .indexref {
/*    display:inline-block;*/
    padding-left:0;
    margin-left:1em;
  }
  .secitem + .indexref {
/*    display:inline-block;*/
    padding-left:0;
    margin-left:2em;
  }
}

/* Admonitions */
div.admon img {
  padding-top:10px;
  margin-left:1.1em;
}
div.admon h3 {
  display:inline;
/*  margin-left:2em;*/
 margin-bottom:50px;
}
div.admon p {
  margin-left:.5em;
  padding-bottom:.4em;
}
div.admon pre {
  margin:.5em 3em;
}
div.note, div.tip {
  margin:1em;
  padding:.2em .5em .75em .75em;
  box-shadow:0 0 6px rgba(0,0,0,.5);
  border-left:.7em solid #F9FF00;
  border-radius:6px;
  position:relative;
  line-height:1.4em;
}
div.important, div.warning, div.caution {
  margin:1em;
  padding:.2em .5em .75em .75em;
  box-shadow:0 0 6px rgba(0,0,0,.5);
  border:.5em solid #dc322f;
  border-radius:6px;
  position:relative;
  line-height:1.4em;
}
div.important h3, div.warning h3, div.caution h3 {
  color:#900;
}
div.important em, div.warning em, div.caution em {
  color:#000;
  font-weight:bold;
}

/* table */
.table p.title {
  text-align:center;
  margin-top:0;
  margin-bottom:.3em;
}
.table table {
  margin-left:auto;
  margin-right:auto;
}
.table table th, .table table td {
  padding:.2em 2em .2em 2em;
  text-align:left;
}
.revhistory {
  padding-left:1em;
}
.revhistory th {
  line-height:2em;
  text-align:left;
}
.revhistory td {
  padding-right:1em;
}

/* variablelist as table */
.variablelist table {
  width:auto;
  margin:0 1em 0 1em;
}
.variablelist td {
  vertical-align:top;
  min-width:100px;
  padding:0;
}
@media(max-width:700px){
  .variablelist td {
    display:inline-block;
    width:100%;
  }
  .variablelist td:nth-child(2) p{
    margin-left:2em;
  }
}
.variablelist td span, td p {
  margin:.25em;
  padding:0;
}

/* variablelist as list */
dl {
  padding-left:1em
}
dt {
  font-weight:bold;
  margin-left:1em;
}
dd {
  margin-bottom:.6em;
  margin-left:1em;
}
dd p {
  text-align:left;
  margin-top:0;
  margin-bottom:0;
  padding-top:0;
  padding-bottom:0;
}
div.materials dt {
  display:list-item;
}
div.materials dd {
  margin-left:0;
  padding-left:0;
}

/* segmentedlist */
.appendix .segmentedlist {
  padding-left:1em;
}
.package .seg {
  margin-bottom:0;
  margin-top:0;
  clear:left;
}
.content .seg {
  margin-bottom:.4em;
  margin-top:.4em;
  clear:left;
}
.segtitle {
  float:left;
  padding-right:1em;
  padding-left:1em;
}
.package .segbody, .appendix .segbody {
  display:block;
  padding-left:14em;
}
.content .segbody {
  display:block;
  padding-left:14em;
}
@media(max-width:700px){
  .segtitle {
    display:block;
    width:100%;
  }
  .package .segbody, .content .segbody {
    display:inline-block;
    padding-left:0;
    margin-left:1em;
  }
}

/* itemizedlist */
.itemizedlist ul {
  margin-left:1em;
}
.itemizedlist li p {
  margin:5px 0;
}
.itemizedlist li p:first-child {
  padding-left:3px;
  margin-top:15px;
}
.itemizedlist li ul {
  margin-bottom:1.2em;
}
.itemizedlist li ul li p {
  margin-top:.5em;
  margin-bottom:.5em;
}
.itemizedlist li ul li:first-child p:first-child {
  margin-top:-.6em;
}
ul.compact {
  list-style:none;
}
.blfs ul.compact {
/*  list-style:disc;*/
  width:auto;
  background-color:#F0FFF0;
  margin:1em;
  padding:.2em .5em .75em .75em;
/*  box-shadow:0 0 6px rgba(0,0,0,.5);*/
  border:.3em solid #B9EDB9;
  border-radius:6px;
  position:relative;
  line-height:1.4em;
}
ul.compact li {
  margin:0;
  padding:0;
}
.blfs ul.compact li {
  margin-top:0.5em;
  padding-left:13px;
  background:url(../images/chevron-right.png) no-repeat 0 0.5em;
  background-size:7px 7px;
}
ul.compact li p {
  padding:.3em;
  margin:0;
}
.blfs ul.compact li p {
/*  background-color:#f0fff0;*/
  margin:0;
  padding:0;
}

/* orderedlist */
ol {
  list-style:decimal;
}
ol ol {
  list-style:lower-alpha;
}
ol ol ol {
  list-style:lower-roman;
}
ol.compact li {
  margin:0;
  padding:0;
}
ol.compact li p {
  padding:.3em;
  margin:0;
}

/* Indented blocks */
p, blockquote {
  padding-left:1em;
  padding-right:1em;
  text-align:left;
  text-align:justify;
}

/* Monospaced elements */
tt, code, kbd, pre, .command {
  font-family:monospace;
}
.systemitem {
  font-style:italic;
}
pre {
  background-color:#e9e9e9;
  color:#333;
  margin:1em;
  padding:.2em .5em .5em 2em;
  border-radius:4px;
  position:relative;
  line-height:1.4em;
  overflow:auto;
  font-weight:bold;
}
pre.screen {
  font-weight:normal;
}
.literal, .prompt {
  font-weight:normal;
}

/* Mixed tags */
p.usernotes {
  margin-left:-1em;
  font-size:small;
  font-weight:bold;
  font-style:italic;
}
.underlined {
  text-decoration:underline;
}

/* Last edited info */
p.updated {
  font-size:small;
  font-weight:bold;
  font-style:italic;
}

/* Special colored blocks */
  /* OrangeRed4 */
.feature-ssp {
  color:#8B2500;
}

  /* RoyalBlue3 */
.feature-aslr {
  color:#3A5FCD;
}

  /* NavyBlue */
.feature-pax {
  color:#000080;
}

  /* VioletRed */
.feature-hardened_tmp {
  color:#d02090;
}

  /* PaleTurquoise4 */
.feature-warnings {
  color:#668b8b;
}

  /* RosyBrown */
.feature-misc {
  color:#bc8f8f;
}

  /* Sienna*/
.feature-blowfish {
  color:#8E6B23
}
