<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
  "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../general.ent">
  %general-entities;
]>

<sect1 id="ch-system-acl" role="wrap">
  <?dbhtml filename="acl.html"?>

  <sect1info condition="script">
<productname>acl</productname> <productnumber>&acl-version;</productnumber>
<address>&acl-url;</address></sect1info>

  <title>Acl-&acl-version;</title>

  <indexterm zone="ch-system-acl">
    <primary sortas="a-Acl">Acl</primary>
  </indexterm>

  <sect2 role="package">
    <title/>

    <para>O pacote Acl contém utilitários para administrar Listas de Controle de
Acesso, as quais são usadas para definir direitos de acesso discricionários
refinados para arquivos e diretórios.</para>

    <segmentedlist>
      <segtitle>&buildtime;</segtitle>
      <segtitle>&diskspace;</segtitle>

      <seglistitem>
        <seg>&acl-fin-sbu;</seg>
        <seg>&acl-fin-du;</seg>
      </seglistitem>
    </segmentedlist>

  </sect2>

  <sect2 role="installation">
    <title>Instalação do Acl</title>

    <para>Prepare Acl para compilação:</para>

<screen><userinput remap="configure">./configure --prefix=/usr         \
            --disable-static      \
            --docdir=/usr/share/doc/acl-&acl-version;</userinput></screen>

    <para>Compile o pacote:</para>

<screen><userinput remap="make">make</userinput></screen>

    <para>Os testes do Acl precisam ser executados sobre um sistema de arquivos que
suporte controles de acesso, porém não até que o pacote
<application>Coreutils</application> tenha sido construído, usando as
bibliotecas do <application>Acl</application>. Se desejado, retorne a esse
pacote e execute <command>make check</command> depois que o pacote
<application>Coreutils</application> tiver sido construído.</para>

    <para>Instale o pacote:</para>

<screen><userinput remap="install">make install</userinput></screen>

  </sect2>

  <sect2 id="contents-acl" role="content">
    <title>Conteúdo do Acl</title>

    <segmentedlist>
      <segtitle>Aplicativos instalados</segtitle>
      <segtitle>Biblioteca instalada</segtitle>
      <segtitle>Diretórios instalados</segtitle>

      <seglistitem>
        <seg>chacl, getfacl e setfacl</seg>
        <seg>libacl.so</seg>
        <seg>/usr/include/acl e /usr/share/doc/acl-&acl-version;</seg>
      </seglistitem>
    </segmentedlist>

    <variablelist>
      <bridgehead renderas="sect3">Descrições Curtas</bridgehead>
      <?dbfo list-presentation="list"?> <?dbhtml list-presentation="table"?>

      <varlistentry id="chacl">
        <term><command>chacl</command></term>
        <listitem>
          <para>Muda a lista de controle de acesso de um arquivo ou diretório</para>
          <indexterm zone="ch-system-acl chacl">
            <primary sortas="b-chacl">chacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="getfacl">
        <term><command>getfacl</command></term>
        <listitem>
          <para>Obtém listas de controle de acesso do arquivo</para>
          <indexterm zone="ch-system-acl getfacl">
            <primary sortas="b-getfacl">getfacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="setfacl">
        <term><command>setfacl</command></term>
        <listitem>
          <para>Configura listas de controle de acesso do arquivo</para>
          <indexterm zone="ch-system-acl setfacl">
            <primary sortas="b-setfacl">setfacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="libacl">
        <term><filename class="libraryfile">libacl</filename></term>
        <listitem>
          <para>Contém as funções de biblioteca para manipular Listas de Controle de Acesso</para>
          <indexterm zone="ch-system-acl libacl">
            <primary sortas="c-libacl">libacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

    </variablelist>

  </sect2>

</sect1>
