<?xml version="1.0" encoding="ISO-8859-1"?>
<sect1 id="gnome-config">
<?dbhtml filename="config.html"?>
<title>Configurer les paquetages principaux de GNOME</title>


<para>Créez un fichier <filename>.xinitrc</filename> pour lancer
<application><acronym>GNOME</acronym></application>&nbsp;:</para>
<screen><userinput><command>echo "exec gnome-session" &gt;&gt; ~/.xinitrc</command></userinput></screen>
<para>et assurez-vous que toutes les bibliothèques soient disponibles avec&nbsp;:</para>
<screen><userinput><command>ldconfig</command></userinput></screen>

<para>À ce moment, vous pouvez lancer
<application><acronym>GNOME</acronym></application> avec
<command>startx</command>.</para>

</sect1>
