<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN"
   "http://www.oasis-open.org/docbook/xml/4.3/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>

<sect1 id="gnome-config">
<sect1info>
<othername>$LastChangedBy: randy $</othername>
<date>$Date: 2005-06-16 06:05:59 $</date>
</sect1info>
<?dbhtml filename="config.html"?>
<title>Configuring the core GNOME packages</title>


<para>Create (or append to) an <filename>.xinitrc</filename> file to start 
<application><acronym>GNOME</acronym></application>:</para>

<screen><userinput><command>echo "exec gnome-session" &gt;&gt; ~/.xinitrc</command></userinput></screen>

<para>Ensure all libraries can be found with (as root):</para>

<screen><userinput><command>ldconfig</command></userinput></screen>

<para>Update the <acronym>MIME</acronym>-type application database 
(as root):</para>

<screen><userinput><command>update-desktop-database</command></userinput></screen>

<para>There are reports of some panel icons not being displayed properly when 
using some themes, especially if your <envar>$GNOME_PREFIX</envar> is not 
<filename class='directory'>/usr</filename>. As the root user, add the 
following lines to <filename>$GNOME_PREFIX/share/gnome-panelrc</filename> to 
correct the problem (ensure you substitute the correct path in the 
pixmap_path, if necessary):</para>

<screen><userinput role='root'><command>cat &gt;&gt; $GNOME_PREFIX/share/gnome-panelrc &lt;&lt; "EOF"</command>

pixmap_path "/opt/gnome-2.8/share/pixmaps"

style "panel-icons"
{
        stock ["panel-screenshot"] =    {{"gnome-screenshot.png"}}
        stock ["panel-gnome-logo"] =    {{"gnome-logo-icon-transparent.png"}}
        stock ["panel-cde"] =           {{"cdeappmenu.png"}}
        stock ["panel-launcher"] =      {{"launcher-program.png"}}
        stock ["panel-run"] =           {{"gnome-run.png"}}
        stock ["panel-drawer"] =        {{"panel-drawer.png"}}
        stock ["panel-main-menu"] =     {{"gnome-main-menu.png"}}
        stock ["panel-force-quit"] =    {{"panel-force-quit.png"}}
}

class "GtkWidget" style "panel-icons"

<command>EOF</command></userinput></screen>

<para>At this point you can bring up
<application><acronym>GNOME</acronym></application> with
<command>startx</command>.</para>

</sect1>
