<sect1 id="dhcpclient" xreflabel="Configuring dhcp for a client">
<?dbhtml filename="configdhcp.html" dir="connect"?>
<title>Configurer les scripts de démarrage pour supporter les clients dhcp</title>

<sect2><title>Fichiers de configurations</title>
<para><userinput>/etc/sysconfig/network, 
/etc/sysconfig/network-devices/ifup-eth0,
/etc/sysconfig/network-devices/ifdown-eth0,
/etc/sysconfig/networkdevices/ifconfig.eth0</userinput></para>
</sect2>

<sect2><title>Information de configuration</title>

<para>Notez que, sur cette page et les suivantes, nous utilisons
<userinput>eth0</userinput> comme interface exemple. Si vous voulez une
interface différente (ou plus d'une), remplacez simplement
<userinput>eth0</userinput> par l'interface que vous utilisez.</para>

<para>Ces instructions convertissent les fichiers de configuration de
LFS (une configuration statique) en une configuration utilisant le protocole
DHCP. Notez que les interfaces statiques et DHCP peuvent coexister sur un
système LFS. Pour faire ceci, faites uniquement les modifications pour les
interfaces qui devront supporter DHCP. Toutes les instructions sur cette page
sont applicables quelque soit le client que vous avez l'intention d'utiliser.
</para>

<para>Si l'interface que vous souhaitez utiliser en tant que passerelle par
défaut utilisera DHCP, la première étape est de supprimer les variables GATEWAY
et GATEWAY_IF de <filename>/etc/sysconfig/network</filename>. Ceci doit être
fait seulement une fois.</para>

<para><screen><userinput>cd /etc/sysconfig &amp;&amp;
cp network network.bak &amp;&amp;
sed "s/GATEWAY/# GATEWAY/" network.bak > network</userinput></screen></para>

<para>Vous devez ensuite créer les scripts qui remplaceront les scripts réseau
par défaut et procureront le support pour DHCP. Ces deux scripts sont
génériques et donc pour utiliser les clients DHCP. Tout d'abord, le script
<filename>ifup-eth0</filename>:</para>

<para><screen><userinput>cat &gt; ifup-eth0 &lt;&lt; "EOF" </userinput>
#!/bin/sh

source /etc/sysconfig/rc || exit
source $rc_functions || exit
source $network_devices/ifconfig.eth0 || exit

echo "Bringing up the eth0 interface..."
modprobe eth0
loadproc $DHCP_PROG $DHCP_START
<userinput>EOF</userinput></screen></para>

<para>Ensuite le script <filename>ifdown-eth0</filename>:</para>

<para><screen><userinput>cat &gt; ifdown-eth0 &lt;&lt; "EOF" </userinput>
#!/bin/sh

source /etc/sysconfig/rc || exit
source $rc_functions || exit
source $network_devices/ifconfig.eth0 || exit

echo "Bringing down the eth0 interface..."
$DHCP_PROG $DHCP_STOP
evaluate_retval
<userinput>EOF</userinput></screen></para>

<para>Enfin, nous devons rendre ces scripts exécutables:</para>

<para><screen><userinput>chmod 755 ifup-eth0 &amp;&amp;
chmod 755 ifdown-eth0</userinput></screen></para>

</sect2>

</sect1>

