<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN"
   "http://www.oasis-open.org/docbook/xml/4.3/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>

<chapter id="content-web">
<?dbhtml filename="web.html"?>
<title>Serveur web</title>

<para>Ce chapitre inclut des applications répondant à des requêtes provenant
du <acronym>LAN</acronym>, d'un intranet ou d'Internet. Plus spécifiquement,
cela couvre les requêtes <acronym>HTTP</acronym> et <acronym>FTP</acronym>.</para>

<xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="apache.xml"/> 
<xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="php.xml"/> 
<xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="proftpd.xml"/> 
<xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="vsftpd.xml"/> 

</chapter>
