<?xml version="1.0" encoding="ISO-8859-1"?>
<chapter id="content-web">
<?dbhtml filename="web.html"?>
<title>Serveur web</title>

<para>Ce chapitre inclut des applications répondant à des requêtes provenant
du <acronym>LAN</acronym>, d'un intranet ou d'Internet. Plus spécifiquement,
cela couvre les requêtes <acronym>HTTP</acronym> et <acronym>FTP</acronym>.</para>

&apache;
&php;
&proftpd;

</chapter>
