<chapter id="content-web">
<?dbhtml filename="web.html" dir="content"?>
<title>Serveur web</title>

<para>Ce chapitre inclut des applications répondant à des requêtes provenant
d'Internet. Plus spécifiquement, cela couvre les requêtes
<acronym>HTTP</acronym> et <acronym>FTP</acronym>.</para>

&apache;
&php;
&proftpd;

</chapter>
