<chapter id="postlfs-config">
<?dbhtml filename="config.html" dir="postlfs"?>
<title>Après la configuration de LFS</title>

<para>L'intention de LFS est d'apporter un système basique à partir duquel vous
pouvez continuer la construction. Beaucoup de personnes se posent des questions
sur comment améliorer leur système une fois qu'ils ont terminé l'installation
de base. Nous espérons couvrir ces questions dans ce chapitre.</para>

<para>Beaucoup de personnes venant de Windows et passant à Linux trouvent le
concept de fichiers de configurations texte légèrement étrange. Sur Linux,
pratiquement toute la configuration est faite via des fichiers textes. La
majorité de ces fichiers peut être trouvé dans le répertoire
<filename>/etc</filename>. Il existe souvent des programmes graphiques de
configuration pour différents sous-systèmes, mais ce sont en majorité de simples
et jolis outils qui s'occupent de l'édition du fichier. L'avantage de la
configuration en texte seulement est que vous pouvez éditer les paramètres en
utilisant votre éditeur de texte favori, qu'il soit vim, emacs ou un autre.
</para>

&postlfs-config-logon;
&postlfs-config-profile;
&postlfs-config-inputrc;
&postlfs-config-random;
&postlfs-config-vimrc;
&postlfs-config-bootdisk;
&postlfs-config-manpages;

</chapter>

