<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
   "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>
<chapter id="postlfs-config" xreflabel="After LFS Configuration Issues">
  <?dbhtml filename="config.html"?>
  <title>Questions de configuration après LFS</title>
  <para>Le but de LFS est de fournir un système de base sur lequel vous pouvez 
   construire. Il y a plusieurs choses liées au rangement du système sur lesquelles 
   de nombreux utilisateurs se posent des questions une fois qu'ils ont fait le
   système de base. Nous espérons traiter ces questions dans ce chapitre.</para>
  <para>La plupart des gens issus d'environnements de type non Unix et découvrant
  Linux trouvent un peu étrange le concept des fichiers de configuration en 
  texte brut. Sur Linux, toute la configuration se fait en manipulant des
  fichiers textes. On peut trouver la majorité de ces fichiers dans la hiérarchie
  <filename class='directory'>/etc</filename>. Des programmes graphiques de
  configuration sont souvent disponibles pour différents sous-systèmes, mais la
  plupart d'entre eux sont simplement des interfaces conviviales avec les 
  processus d'édition d'un fichier texte. L'avantage de la configuration en
  texte brut est que vous pouvez éditer les paramètres en utilisant votre éditeur
  de texte favori, qu'il s'agisse de <command>vim</command>,
  <command>emacs</command>, ou d'un autre éditeur.</para>
  <para>La première tâche consiste à créer un disque d'amorçage de secours au chapitre 
  <xref linkend="postlfs-config-bootdisk"/> car c'est le besoin le plus critique.
  Puis, le système est configuré pour faciliter l'ajout de nouveaux utilisateurs
  car cela peut influencer votre choix dans les deux domaines consécutifs&mdash;<xref linkend="postlfs-config-profile"/> et
  <xref linkend="postlfs-config-vimrc"/>.</para>
  <para>Les autres sujets, <xref linkend="postlfs-config-logon"/>,
  <xref linkend="postlfs-config-random"/>,
  <xref linkend="autofs"/> et
  <xref linkend="postlfs-config-netfs"/> sont ensuite évoqués, dans cet ordre.
  Ils n'ont pas vraiment de rapport avec les autres sujets de ce chapitre.</para>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="bootdisk.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="skel.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="users.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="devices.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="profile.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="vimrc.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="logon.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="random.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="lsb-release.xml"/>
</chapter>
