<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
   "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>

<!--
$LastChangedBy: dj $
$Date: 2009-03-12 04:57:30 +0100 (jeu 12 mar 2009) $
-->

<chapter id="postlfs-config" xreflabel="After LFS Configuration Issues">
  <?dbhtml filename="config.html"?>

  <title>After LFS Configuration Issues</title>

  <para>The intention of LFS is to provide a basic system which you can
  build upon.  There are several things about tidying up the system which
  many people wonder about once they have done the base install.
  We hope to cover these issues in this chapter.</para>

  <para>Most people coming from non-Unix like backgrounds to Linux find the
  concept of text-only configuration files slightly strange.  In Linux, just
  about all configuration is done via the manipulation of text files. The
  majority of these files can be found in the
  <filename class='directory'>/etc</filename> hierarchy. There are often
  graphical configuration programs available for different subsystems but most
  are simply pretty front ends to the process of editing a text file. The
  advantage of text-only configuration is that you can edit parameters using
  your favorite text editor, whether that be <command>vim</command>,
  <command>emacs</command>, or any other editor.</para>

  <para>The first task is making a recovery boot device in
  <xref linkend="postlfs-config-bootdisk"/> because it's the most critical need.
  Then the system is configured to ease addition of new users, because this
  can affect the choices you make in the two subsequent
  topics&mdash;<xref linkend="postlfs-config-profile"/> et
  <xref linkend="postlfs-config-vimrc"/>.</para>

  <para> The remaining topics, <xref linkend="postlfs-config-logon"/>,
  <xref linkend="postlfs-config-shells"/>, <xref linkend="postlfs-config-random"/>,
  <xref linkend="compressdoc"/>, <xref linkend="autofs"/> et
  <xref linkend="postlfs-config-netfs"/> are then addressed, in that order. They
  don't have much interaction with the other topics in this chapter.</para>

  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="bootdisk.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="skel.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="users.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="devices.xml"/>
  <!-- <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="inputrc.xml"/> -->
  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="profile.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="vimrc.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="logon.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="etcshells.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="random.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="compressdoc.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="autofs.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2003/XInclude" href="netfs.xml"/>

</chapter>
