<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
   "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;

  <!ENTITY Device-mapper-download-http " ">
  <!ENTITY Device-mapper-download-ftp  "ftp://sources.redhat.com/pub/lvm2/LVM2.&LVM2-version;.tgz">
  <!ENTITY Device-mapper-md5sum        "321429cd1b1526a29cf6d75018b1e4bb">
  <!ENTITY Device-mapper-size          "1 Mio">
  <!ENTITY Device-mapper-buildsize     "7.7 Mio">
  <!ENTITY Device-mapper-time          "0.1 SBU">
]>

<sect1 id="device-mapper" xreflabel="device-mapper-&Device-mapper-version;">
  <?dbhtml filename="Device-mapper.html"?>

  <sect1info>
    <othername>$LastChangedBy>&nbsp;: wblaszcz $</othername>
    <date>$Date: 2011-11-08 17:57:34 +0100 (mar. 08 nov. 2011) $</date>
  </sect1info>

  <title>device-mapper-&Device-mapper-version;</title>

  <indexterm zone="device-mapper">
    <primary sortas="a-device-mapper">device-mapper</primary>
  </indexterm>

  <sect2 role="package">
    <title>Introduction à device-mapper</title>

    <para>Le paquet <application>device-mapper</application> est
    l'implémentation d'un pilote d'espace- utilisateur minimaliste du noyau
    qui prend en charge la gestion des volumes, tout en gardant à l'esprit la 
    couche périphérique sous-jacente dans l'espace utilisateur.</para>

    &lfs70_checked;
   
    <bridgehead renderas="sect3">Informations sur le paquet</bridgehead>
    <itemizedlist spacing="compact">
      <!-- <listitem>
        <para>Téléchargement (HTTP)&nbsp;: <ulink url="&Device-mapper-download-http;"/></para>
      </listitem>-->
      <listitem>
        <para>Téléchargement (FTP)&nbsp;: <ulink url="&Device-mapper-download-ftp;"/></para>
      </listitem>
      <listitem>
        <para>Somme de contrôle MD5 du téléchargement&nbsp;: &Device-mapper-md5sum;</para>
      </listitem>
      <listitem>
        <para>Taille du téléchargement&nbsp;: &Device-mapper-size;</para>
      </listitem>
      <listitem>
        <para>Estimation de l'espace disque requis&nbsp;: &Device-mapper-buildsize;</para>
      </listitem>
      <listitem>
        <para>Estimation du temps de construction&nbsp;: &Device-mapper-time;</para>
      </listitem>
    </itemizedlist>

    <para condition="html" role="usernotes">Notes utilisateur&nbsp;:
    <ulink url="&blfs-wiki;/device-mapper"/></para>

  </sect2>

  <sect2 role="installation">
    <title>Installation de device-mapper</title>

    <para>Installez <application>device-mapper</application> en lançant les commandes
    suivantes&nbsp;:</para>

<screen><userinput>./configure --prefix=/usr --enable-pkgconfig &amp;&amp;
make device-mapper</userinput></screen>

    <!-- Note, there is a test suite (make check), but it is for LVM2 -->

    <para>La partie device-mapper de ce paquet n'est pas fournie avec une suite 
    de tests.</para>

    <para>Maintenant, en tant qu'utilisateur the <systemitem class="username">root</systemitem>&nbsp;:</para>

<screen role="root"><userinput>make install_device-mapper</userinput></screen>

  </sect2>

  <sect2 role="commands">
    <title>Explications des commandes</title>

    <para><parameter>--enable-pkgconfig</parameter>&nbsp;: Ce paramètre installe
    le support de pkgconfig.</para>

    <para><option>--enable-dmeventd</option>&nbsp;: Cette option construit
    le démon d'événement device-mapper.</para>

    <para><option>--enable-cmdlib</option>&nbsp;: Cette option construit la
    bibliothèque de commande partagée. Elle est requise lors de la construction
    du démon.</para>

  </sect2>

  <!-- TODO  FIXME Need to create a boot script for dmeventd (devmapper-event)
  According to CBLFS, only needed in very specific situations.

  <sect2 role="configuration">
    <title>Configuration de device-mapper</title>

    <sect3  id="device-mapper-init">
      <title>Script de démarrage</title>

      <para>Pour démarrer automatiquement le démon <command>device-mapper</command>
      lors du redémarrage du système, installez le script de démarrage
      <filename>/etc/rc.d/init.d/device-mapper</filename>
      issu du paquet
      <xref linkend="bootscripts"/>.</para>

      <indexterm zone="device-mapper Device-mapper-init">
        <primary sortas="f-device-mapper">Device-mapper</primary>
      </indexterm>

<screen role="root"><userinput>make install-device-mapper</userinput></screen>

    </sect3>

  </sect2>

  -->

  <sect2 role="content">
    <title>Contenu</title>

    <segmentedlist>
      <segtitle>Programmes installés</segtitle>
      <segtitle>Bibliothèques installées</segtitle>
      <segtitle>Répertoires installés</segtitle>

      <seglistitem>
        <seg>dmeventd et dmsetup</seg>
        <seg>libdevmapper-event.so et libdevmapper.so</seg>
        <seg>Aucun</seg>
      </seglistitem>
    </segmentedlist>

    <variablelist>
      <bridgehead renderas="sect3">Descriptions courtes</bridgehead>
      <?dbfo list-presentation="list"?>
      <?dbhtml list-presentation="table"?>

      <varlistentry id="dmsetup">
        <term><command>dmsetup</command></term>
        <listitem>
          <para>est un outil de bas niveau de gestion de volumes logiques.</para>
          <indexterm zone="device-mapper dmsetup">
            <primary sortas="b-dmsetup">dmsetup</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="libdevmapper">
        <term><filename class='libraryfile'>libdevmapper.so</filename></term>
        <listitem>
          <para>contient les fonctions de l'API de <application>device-mapper</application>.</para>
          <indexterm zone="device-mapper libdevmapper">
            <primary sortas="c-libdevmapper">libdevmapper.so</primary>
          </indexterm>
        </listitem>
      </varlistentry>

    </variablelist>

  </sect2>

</sect1>
