<chapter id="gnome-config">
<?dbhtml filename="config.html" dir="gnome"?>
<title>Configurer Gnome</title>

<para>Ce chapitre fait de
<application><acronym>GNOME</acronym></application> votre environnement de
bureau de choix lorsque <command>startx</command> est lancé.</para>

&gnome-config-core;

</chapter>
