body {
  font-weight: normal;
  font-size: medium;
  font-family: verdana, tahoma, helvetica, arial, sans-serif;
  text-align: left;
}

.toc ul, .index ul {
	list-style: none;
}

.navheader {
  font-size: smaller;
  text-align: center;
  padding-bottom: 0.5em;
  border-bottom: solid 2px #080;
}

.navheader p {
  margin: 1em 0em;
}

.navfooter {
  font-size: smaller;
  text-align: center;
  padding-top: 0.5em;
  border-top: solid 2px #080;
}

div.sect3 li {
  /* padding: 0em; */
}

div.sect3 li p {
  padding: 0.3em;
  margin: 0em;
  background-color: #f0fff0;
}

.prev {
  float: left;
  text-align: left;
  padding-left: 1em;
}

.next {
  float: right;
  text-align: right;
  padding-right: 1em;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0em;
}

h4 {
  font-size: 90%;
  padding-left: 0em;
}


div.navheader ul li, div.navfooter ul li {
	display: inline;
  padding: 4em;
}

li.preface {
	margin-left: 2.5em;
}

div.book div.titlepage h1.title {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

div.book div.titlepage h2.subtitle {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

div.book div.titlepage h3.author {
    font-size: large;
}

div.book div.dedication div.titlepage h2.title {
    font-weight: normal;
    font-size: x-large;
}

div.chapter div.titlepage h2.title {
    font-weight: bold;
    font-size: x-large;
    text-align: left;
}

div.sect1 div.titlepage h2.title {
    font-weight: bold;
    font-size: x-large;
    text-align: left;
}

tt {
    font-family: courier, monospace;
    font-size: 110%;
}

pre.screen {
    color: black;
    background-color: #dddddd;
    font-family: Courier, monospace;
        font-size: 13px; 
}

pre.screen {
  padding: 0.5em 1.5em;
  line-height: 110%;
}

pre.synopsis {
    color: black;
    background-color: #dddddd;
}

div.admonition {
  border: medium solid;
  width: 90%;
  margin: .5em auto;
}

div.admonhead h3 {
	display: inline;
	margin-left: 1.5em;
}

div.admonbody {
	margin: .5em;
}

b.command {
    font-family: courier, monospace;
}

.item {
    width: 15em;
    float: left;
}

.secitem {
    font-weight: normal;
    width: 12.5em;
    float: left;
}
