<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
   "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>
<sect1 id="kde-core-config" xreflabel="Démarrage de KDE4">
  <?dbhtml filename="config.html"?>
  <sect1info>
    <othername>$LastChangedBy&nbsp;: rthomsen $</othername>
    <date>$Date&nbsp;: 2012-04-15 19:19:58 +0200 (Sun, 15 Apr 2012) $</date>
  </sect1info>
  <title>Démarrage de KDE4</title>
  
  <bridgehead renderas="sect3">dépendances de démarrage de KDE</bridgehead>
  <bridgehead renderas="sect4">Dépendances d'éxécution recommendées</bridgehead>
  <para role="recommended">
    <xref linkend="consolekit"/> et
    <xref linkend="dbus"/>
  </para>
  <para>Après avoir installé <application>Kde-workspace</application>, une
  première étape importante a été franchie. Maintenant, vous devez configurer 
  votre système pour démarrer KDE4.</para>
  
  <sect2 role="content">
  <title>Démarrage de KDE4 à partir de l'invite de commande</title>
    <para>
      Vous pouvez démarrer <application>KDE4</application> depuis le runlevel 3, en utilisant
      <xref linkend="xinit"/>, ou depuis le runlevel 5, en utilisant un gestionnaire d'affichage,
      comme <xref linkend="sddm"/>.
    </para>
 <para>Pour démarrer <application>KDE4</application> à partir de l'invite de
 commande, vous devrez modifier votre fichier 
 <filename>.xinitrc</filename>&nbsp;:</para>
<screen>
<userinput>cat &gt; ~/.xinitrc &lt;&lt; "EOF"
<literal>ck-launch-session dbus-launch --exit-with-session startkde</literal>
EOF
startx</userinput>
</screen>
   
    <para>
      La session X démarre dans le premier terminal virtuel inutilisé, normallement vt7.
      Vous pouvez passer à vt<emphasis>n</emphasis> en pressant simultanément les touches
      Ctrl-Alt-F<emphasis>n</emphasis> (<emphasis>n</emphasis>=1, 2, ...). Pour retourner à la session X,
       normalement démarrée dans vt7,
      utilisez Ctrl-Alt-F7. Si vous démarrez dans vt1 (le cas usuel), vous pourrez voir beaucoup de messages
      ici, incluant les messages de démarrage de X, les applications automatiquement démarrée avec la session,
      et éventuellement, quelques avertissements et erreurs. Vous pouvez préférer rediriger ces messages
      dans un fichier log, qui non seulement laissera vt1 propre, mais aussi pourra servir pour le déboguage.
      cela peut être fait en démarrant X avec:
    </para>
    
<screen>
<userinput>startx &amp;&gt; ~/.x-session-errors</userinput>
</screen>
       <note>
    <para>
      vous pouvez souhaiter abandonner consolekit et/ou dbus-launch, c'est à dire, en utilisant juste
      startkde in .~/.xinitrc, mais quelques fonctionnalités comme mount/umount
      des sytèmes de fichier depuis un gestionnaire de fichiers ne seront pas possible, ou les options de redémarrage
      seront absent ou non fonctionnelles, entre autres problèmes.
    </para>
   </note>
    <para>
      Quand vous arrêtez ou redémarrez, Les messages d'arrêt apparaissent sur le vt ou X était lancé.
      Si vous souhaitez voir ses messagesn appuyez simulatément sur  Alt-F7 (en considérant que X était
     lancé sur vt7).
    </para>
      
    </sect2>
    
    <sect2 role="content">
    <title>Démarrage de KDE4 à l'amorçage</title>
    
    <para>KDE4 est fourni avec une interface de connexion graphique appelée
    KDM (le <foreignphrase>KDE4 Display Manager</foreignphrase> (gestionnaire
    d'affichage KDE4)) qui offre une connexion graphique personnalisable au 
    démarrage. Pour utiliser KDM, vous devez éditer votre fichier
    <filename>/etc/inittab</filename> (en tant qu'utilisateur
    <systemitem class="username">root</systemitem>). Tout d'abord, réglez
    le niveau d'exécution 5 pour lancer KDM (ajustez le chemin vers KDM selon votre système)&nbsp;:</para>
    
<screen>
<userinput>cat &gt;&gt; /etc/inittab &lt;&lt; EOF
<literal>kd:5:respawn:/opt/kde/bin/kdm</literal>
EOF</userinput>
</screen>
<para>En plus, vous devez changer le niveau d'éxécution par défaut de 3 à 5:</para>
<screen>
<userinput>sed -i 's#id:3:initdefault:#id:5:initdefault:#' /etc/inittab</userinput>
</screen>
    <para>Vous pouvez maintenant redémarrer votre système et vous verrez l'écran
	de connexion KDE4.</para>
  
  </sect2>
  
  <sect2 role="content">
    <title>Installation de langues supplémentaires (l10n)</title>
    <para>vous pouvez vouloir installer le support pour votre lanque locale. Le paquet l10n
    peut être trouvé à l'adresse
<ulink url="&kde-download-http;applications/&kde-apps-version;/src/kde-l10n/">
         &kde-download-http;applications/&kde-apps-version;/src/kde-l10n/</ulink>.
    Regardez <xref linkend="kde-add-pkgs"/> pour les instructions de construction. Si vous êtes
    dans une session KDE4 quand vous installez une nouvelle langue et configurez KDE4 pour l'utiliser, 
    la session doit être redémarrée, pour voir les effets.
    </para>
  </sect2>
  <sect2 role="content">
    <title>Installation de paquets KDE4 supplémentaires</title>
    <para>Tous les paquets suivants peuvent être construits alors que 
    <application>KDE4</application> est actif et fonctionne, mais souvenez-vous
    de garder le réglage de <envar>&kde-dir;</envar> et <envar>&qt4-dir;</envar>.</para>
  </sect2>
   
</sect1>
