<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN"
   "http://www.oasis-open.org/docbook/xml/4.3/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>

<sect1 id="kde-core-config">
<sect1info>
<othername>$LastChangedBy: bdubbs $</othername>
<date>$Date: 2005-06-15 06:10:43 $</date>
</sect1info>
<?dbhtml filename="config.html"?>
<title>Configuring the core <acronym>KDE</acronym> packages</title>

<para>Back up your existing <filename>~/.xinitrc</filename> file and create a 
new <filename>.xinitrc</filename> file to start <acronym>KDE</acronym>:</para>

<screen><userinput><command>echo "exec startkde" &gt; ~/.xinitrc</command></userinput></screen>
<indexterm zone="kde-core-config">
  <primary sortas="e-AA.xinitrc">~/.xinitrc</primary>
</indexterm>

<para>If you installed the <xref linkend="desktop-file-utils"/> package, 
update the <acronym>MIME</acronym>-type application database (as 
root):</para>

<screen><userinput><command>update-desktop-database</command></userinput></screen>

<para>Ensure all libraries can be found with (as root):</para>

<screen><userinput><command>ldconfig</command></userinput></screen>

<para>At this point you can bring up <acronym>KDE</acronym> with:</para>

<screen><userinput><command>startx</command></userinput></screen>

</sect1>
