<sect1 id="kde-core-config">
<?dbhtml filename="config.html" dir="kde"?>
<title>Configurer les packages principaux de KDE</title>

<para>Tout d'abord, créez un lien symbolique <filename>/opt/kde</filename>:
<screen><userinput>ln -sf &kde-dir; /opt/kde</userinput></screen></para>

<para>Ensuite, créez un fichier <filename>.xinitrc</filename> pour lancer KDE:
<screen><userinput>echo "exec startkde" &gt; ~/.xinitrc</userinput></screen>
et assurez-vous que toutes les bibliothèques peuvent être trouvées avec:
<screen><userinput>ldconfig</userinput></screen>
</para>

<para>A ce point, vous pouvez lancer KDE avec
<screen><userinput>startx</userinput></screen></para>

</sect1>
