<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
  "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../general.ent">
  %general-entities;
]>

<sect1 id="ch-system-acl" role="wrap">
  <?dbhtml filename="acl.html"?>

  <sect1info condition="script">
    <productname>acl</productname>
    <productnumber>&acl-version;</productnumber>
    <address>&acl-url;</address>
  </sect1info>

  <title>Acl-&acl-version;</title>

  <indexterm zone="ch-system-acl">
    <primary sortas="a-Acl">Acl</primary>
  </indexterm>

  <sect2 role="package">
    <title/>

    <para>Le paquet Acl contient des outils d'administration des Access Control Lists
    (listes de contrôle d'accès) qui sont utilisés pour définir plus finement
    des droits d'accès de votre choix aux fichiers et aux répertoires.</para>

    <segmentedlist>
      <segtitle>&buildtime;</segtitle>
      <segtitle>&diskspace;</segtitle>

      <seglistitem>
        <seg>&acl-ch6-sbu;</seg>
        <seg>&acl-ch6-du;</seg>
      </seglistitem>
    </segmentedlist>

  </sect2>

  <sect2 role="installation">
    <title>Installation d'Acl</title>

    <para>Modifiez le répertoire de la documentation pour qu'elle aille dans un
    répertoire versionné&nbsp;:</para>

<screen><userinput remap="pre">sed -i -e 's|/@pkg_name@|&amp;-@pkg_version@|' include/builddefs.in</userinput></screen>

    <para>Corrigez des tests cassés&nbsp;:</para>

<screen><userinput remap="pre">sed -i "s:| sed.*::g" test/{sbits-restore,cp,misc}.test</userinput></screen>

 
    <para>De plus, corrigez un bogue qui conduit <command>getfacl -e</command>
    à une erreur de segmentation dès qu'il a affaire avec des noms de groupes longs&nbsp;:</para>

<screen><userinput remap="pre">sed -i -e "/TABS-1;/a if (x > (TABS-1)) x = (TABS-1);" \
    libacl/__acl_to_any_text.c</userinput></screen>

    <para>Préparez la compilation d'Acl&nbsp;:</para>

<screen><userinput remap="configure">./configure --prefix=/usr    \
            --bindir=/bin    \
            --disable-static \
            --libexecdir=/usr/lib</userinput></screen>

    <para>Compilez le paquet&nbsp;:</para>

<screen><userinput remap="make">make</userinput></screen>

    <para>Il faut lancer les tests d'Acl sur un système de fichiers qui supporte
    les contrôles d'accès après la construction d'<application>Coreutils</application> avec les
    bibliothèques Acl. Si vous le souhaitez, revenez à ce paquet et lancez <command>make
    -j1 tests</command> après avoir construit <application>Coreutils</application>
    plus loin dans ce chapitre..</para>

    <para>Installez le paquet&nbsp;:</para>

<screen><userinput remap="install">make install install-dev install-lib
chmod -v 755 /usr/lib/libacl.so</userinput></screen>

    <para>Il faut déplacer la bibliothèque partagée vers
    <filename class="directory">/lib</filename>, et donc, recréer le fichier
    <filename class="extension">.so</filename> dans
    <filename class="directory">/usr/lib</filename>&nbsp;:</para>

<screen><userinput remap="install">mv -v /usr/lib/libacl.so.* /lib
ln -sfv ../../lib/$(readlink /usr/lib/libacl.so) /usr/lib/libacl.so</userinput></screen>

  </sect2>

  <sect2 id="contents-acl" role="content">
    <title>Contenu d'Acl</title>

    <segmentedlist>
      <segtitle>Programmes installés</segtitle>
      <segtitle>Bibliothèques installées</segtitle>
      <segtitle>Répertoires installés</segtitle>

      <seglistitem>
        <seg>chacl, getfacl et setacl</seg>
        <seg>libacl.so</seg>
        <seg>/usr/include/acl et /usr/share/doc/acl-&acl-version;</seg>
      </seglistitem>
    </segmentedlist>

    <variablelist>
      <bridgehead renderas="sect3">Descriptions courtes</bridgehead>
      <?dbfo list-presentation="list"?>
      <?dbhtml list-presentation="table"?>

      <varlistentry id="chacl">
        <term><command>chacl</command></term>
        <listitem>
          <para>Modifie la liste de contrôle d'accès d'un fichier ou d'un
          répertoire</para>
          <indexterm zone="ch-system-acl chacl">
            <primary sortas="b-chacl">chacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="getfacl">
        <term><command>getfacl</command></term>
        <listitem>
          <para>Donne les listes de contrôle des accès à un fichier.</para>
          <indexterm zone="ch-system-acl getfacl">
            <primary sortas="b-getfacl">getfacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="setacl">
        <term><command>setacl</command></term>
        <listitem>
          <para>Définit les listes de contrôle d'accès à un fichier.</para>
          <indexterm zone="ch-system-acl setacl">
            <primary sortas="b-setacl">setacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="libacl">
        <term><filename class="libraryfile">libacl</filename></term>
        <listitem>
          <para>Contient les fonctions de bibliothèque pour la manipulation des Listes de Contrôle d'accès.</para>
          <indexterm zone="ch-system-acl libacl">
            <primary sortas="c-libacl">libacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

    </variablelist>

  </sect2>

</sect1>
